
/* Required CSS */
.divSection table {
  width: 100%;
  border-collapse: collapse;
}
.divSection{
   background-color: #daeff7;
   margin-bottom: 20px;
}
.SectionHeader {
  background-color: #e0e0e0;
  padding: 10px;
  font-weight: bold;
  color: #333;
  font-size: 20px;
}
.bluebg {
  background-color: #56c5f0;
  font-weight: bold;
}

.RiskLevel-0
{
background-color:#FFFFFF ;
}
.RiskLevel-1
{
background-color:#009900 ;
}
.RiskLevel-2
{
background-color:#FFFF00 ;
}
.RiskLevel-3
{
background-color:#CC0000 ;
}
.TablejobSteps tbody tr:nth-child(odd)
{
background-color: #f6f7f8;
}
.TablejobSteps tbody tr:nth-child(even)
{
background-color: #bfe1f8;
}
/* add button css */
.addbutton {
    background-color: #629fe9;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    border: 2px solid gray;
}
.addbutton:hover{
      background-color: #3675c2;

}