.darkgreybg {
    background-color: #3eafdb;
    color: #fff;
    height: 25px;
    overflow: hidden;
    padding: 6px 5px 0px;
}
.lightgreybg {
    background-color: #6cbad8;
    color: #fff;
    overflow: hidden;
    padding: 0 0 0 5px;
}

.divSection table {
  width: 100%;
  border-collapse: collapse;
}

.divSection {
  background-color: #f4f9fd;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid gray;
}